<div class="book-body" style="height: 80vh;">
    <table>
        <tr>
            <td style="width: 30%;">
                <img src="../public/images/<%= books.cover %>" style="max-width: 115px; max-height: 200px;" />
            </td>
            <td style="width: 30%;">
                <form action="/books/<%= books.id %>/update" method="POST">
                    <h2>Title:- </h2>
                    <input type="text" name="title" size="55%" required="required" placeholder="<%= books.id %>" />
                    <p>
                    <h3>Description:-</h3>
                    </p>
                    <p>
                        <%= books.description %>
                    </p>
                    <p><strong>Author:-</strong></p>
                    <input type="text" name="author" size="55%" required="required" placeholder="<%= books.author %>" />
                    <br>
                    <br>
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
    </table>
</div>