<div class="body" style="height: 56.25px;">
    <table>
        <tr>
            <td style="width: 24%">
                <img src="/public/images/html.jpeg" style="max-width: 80%; max-height: 80%;" />
            </td>
            <td style="width: 50%">
                <h2>
                    <p>
                        <%- info.title %>
                    </p>
                </h2>
                <p>
                <h3> Summary: </h3>
                </p>
                <p>
                    <%- info.description %>
                </p>
                <p><strong>Novelist: </strong>
                    <%- info.Novelist %>
                </p>
                <p><strong>Pub: </strong>
                    <%- info.Pub %>
            </td>
            <td style="width: 24%">
                <img src="/public/images/Java.jpeg" style="max-width: 80%; max-height: 80%;" />
            </td>
            <td style="width: 50%">
                <h2>
                    <%- info.title %>
                </h2>
                <p>
                <h3> Summary: </h3>
                </p>
                <p>
                    <%- info.description %>
                </p>
                <p><strong>Novelist: </strong>
                    <%- info.Novelist %>
                </p>
                <p><strong>Pub: </strong>
                    <%- info.Pub %>
            </td>
            <td style="width: 24%">
                <img src="/public/images/Php.jpeg" style="max-width: 80%; max-height: 80%;" />
            </td>
            <td style="width: 50%">
                <h2>
                    <%- info.title %>
                </h2>
                <p>
                <h3> Summary: </h3>
                </p>
                <p>
                    <%- info.description %>
                </p>
                <p><strong>Novelist: </strong>
                    <%- info.Novelist %>
                </p>
                <p><strong>Pub: </strong>
                    <%- info.Pub %>
            </td>
        </tr>
    </table>
</div>